{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>Ce projet était un site assez simple pour stocker des fichiers jpg/png/gif/zip que je voulais partager.</p>

    <h2 class="section-heading">Fonctionnalités</h2>
    <ul>
        <li>protection par mot de passe</li>
        <li>Expiration automatique des fichiers par date</li>
        <li>multi-upload par drag & drop</li>
    </ul>

    <p>Aujourd'hui j'ai abandonné le projet qui est basé sur des choses un peu trop vieilles à mon goût et avec l'ère
        des smartphones et du cloud, cet outil avait moins d'utilité pour moi.</p>

    <h2 class="section-heading">Quelques screenshots</h2>

    <h4>Login</h4>
    <p><img class="img-fluid" src="screen1.png"/></p>

    <h4>Multi upload</h4>
    <p><img class="img-fluid" src="screen2.png"/></p>

    <h4>Back office</h4>
    <p><img class="img-fluid" src="screen3.png"/></p>

{% endblock %}
