{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>This project is a very simple web site for hosting jpg/png/gif/zip files.</p>



    <h2 class="section-heading">Features for downloading files</h2>
    <ul>
        <li>password protection</li>
        <li>expiration date for allowed access</li>
    </ul>


    <h2 class="section-heading">Quelques screenshots</h2>

    <h4>Login</h4>
    <p><img class="img-fluid" src="screen1.png"/></p>

    <h4>Multi upload</h4>
    <p><img class="img-fluid" src="screen2.png"/></p>

    <h4>Back office</h4>
    <p><img class="img-fluid" src="screen3.png"/></p>

{% endblock %}
