{% extends "@templates/base-post.twig" %}

{% block article %}

    <p>Pour le besoin d'une base de donnée, j'avais une liste d'adresses à géocoder. J'ai donc fabriqué un petit outil
        fort sympatique pour cet objectif.</p>
    <p>L'intérêt de la manip : requêtage asynchrone avec progression affichée et possibilité de choisir quand plusieurs
        coordonnées sont possibles.</p>
    <p>Une fois les coordonnées obtenues, vous n'avez plus qu'à copier-coller le textarea avec les données pour les
        importer où vous le souhaitez.... ou alors vous modifez mon code pour faire une requête ajax pour faire un
        insert dans votre base :p. C'est pas beau ça ?</p>


    <h2 class="section-heading">Aperçu</h2>
    <p><img class="img-fluid" src="image1.png"/></p>
    <p><img class="img-fluid" src="image2.png"/></p>

{% endblock %}
