{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>Ce site a vécu de 2006 à 2012 avant que je ne le ferme.</p>


    <p>Il contenait un certain nombre de choses relatives à l'univers du jeu
        <a href="https://www.guildwars.com/">Guildwars 1</a> mais surtout avait un générateur d'image pour personnaliser
        son profil sur les forums. Il était géré en deux langues : français et anglais. Concernant la partie pure de
        générateur d'image, j'aais eu de l'aide pour traduire en italien et allemand en plus.</p>

    <p>A sa fermeture, guildwars.arnapou.net, c'était :</p>
    <ul>
        <li>600.000 hits/mois (pics à 4.000.000 hits/mois)</li>
        <li>13 Go de trafic/mois (pics à 50 Go/mois)</li>
        <li>50 visiteurs uniques/jour (pics à 500/jour)</li>
        <li>20.600 comptes d'utilisateurs créés</li>
        <li>24.000 personnages de jeu avec leurs titres</li>
        <li>13.700 avatars uploadés</li>
        <li>51.500 images de titre différentes générées</li>
    </ul>


    <h2 class="section-heading">Aperçu du site</h2>
    <p>Design fait maison.</p>
    <p><img src="screen.png" class="img-fluid img-thumbnail"></p>


    <h2 class="section-heading">Aperçu de quelques images générées</h2>
    <p><img src="titre3.png" class="img-fluid img-thumbnail"></p>
    <p><img src="titre1.png" class="img-fluid img-thumbnail"></p>
    <p><img src="titre2.png" class="img-fluid img-thumbnail"></p>
    <p><img src="titre4.png" class="img-fluid img-thumbnail"></p>


{% endblock %}
