{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>J'ai pas mal joué à Guildwars, un jeu multi-joueurs en ligne.</p>
    <p>Pour mieux gérer ses "builds" (la barre de compétence disponible en jeu), j'ai créé un outil pour
        cela.</p>
    <p>Il a pas mal servi à la communauté.</p>

    <h2 class="section-heading">Apercu du programme</h2>

    <p><img class="img-fluid" src="screen.png"/></p>

    <h2 class="section-heading">Morceau de code concernant la gestion binaire des templates de
        builds</h2>

    <p>Je mets ce bout de code ici directement car je sais que cela peut intéresser certains qui
        voudraient implémenter cet algorithme ailleurs. A vous de le traduire dans le langage de votre
        choix.</p>

    <pre class="delphi"><code>{{ source("delphi/gwbuildmanager/UTemplate.pas")|escape }}</code></pre>


{% endblock %}
