{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>Zou ! Encore un plugin jQuery qui prenait la poussière et que je ressors de derrière les fagots (il date de
        2008...).</p>
    <p>Je l'ai créé à l'époque car j'avais un ensemble de photos à mettre dans une page et la personne qui avait fait
        les miniatures des photos les avait toutes faite différemment :s... bref j'étais un peu embêté, car les
        retailler aurait faire perdre beaucoup de leur intérêt et les intégrer m'aurait pris des heures pour faire
        quelque chose de propre.</p>
    <p>Au final je suis parti sur ce plugin qui m'a fait économiser des heures d'intégration et qui a le mérite de
        fonctionner quelque soit les modifiations futures qui seront faites à ces images etc...</p>
    <p>Je vous le donne en espérant qu'il puisse vous servir.</p>

    <h2 class="section-heading">Aperçu</h2>
    <p><img class="img-fluid" src="screen.png"/></p>

{% endblock %}
