{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>Pendant mes études dingénieur, j'ai fait partie d'une association de joueurs de jeux de plateau, jeux de rôles et
        jeu informatique en réseau.</p>

    <p>La guilde participait aux <a href="http://croisadesdunnord.fr/?page_id=24">Croisades d'Unnord</a>, un évènement
        Jeu de Rôle se déroulant dans l'enceinte de l'école.</p>

    <p>Elle s'appelle "<a href="http://www.hei.fr/vie-etudiante/les-associations-etudiantes/">La Guilde des
            Stratèges</a>"
        (LGDS) et donc j'ai fait son site web en php hébergé gratuitement sur un
        hébergeur gratuit de l'époque que les anciens se souviendront :
        <a href="https://fr.wikipedia.org/wiki/Chez.com">Chez.com</a>.
    </p>

    <p>On parle là de mon premier site, alors ca casse pas des briques, développé en PHP 4 ! Les données sont stockées
        dans des fichiers à plat. Et je ne parlerai pas de l'absence totale de sécurité ... ;)</p>

    <p>J'ai encore le code source de l'époque, mais j'ai pas le cran de le fournir :D</p>


    <h2 class="section-heading">Aperçu</h2>

    <p>Le design est d'époque, pur jus, conçu à 100% par moi xD.</p>

    <p><img src="screen1.png" class="img-fluid"></p>

    <p>Galerie d'images à télécharger :</p>
    <p><img src="screen2.png" class="img-fluid"></p>


{% endblock %}
