{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>J'ai réalisé ce site pour rendre service à mon père qui est collectionneur.</p>

    <p>Techniquement, c'est conçu sur un CMS maison que j'utilisais pour mes diverses productions </p>

    <p>Le site existe toujours à cette adresse : <a href="http://commemo.multicollec.net/">commemo.multicollec.net</a>
    </p>


    <h2 class="section-heading">Aperçu</h2>

    <p>Le design est fait maison en vectoriel à l'aide d'<a href="https://inkscape.org/">inkscape</a>.</p>

    <p><img src="screen.png" class="img-fluid"></p>


{% endblock %}
