{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>Ce domaine existe longtemps et ce site a subi de multiples évolutions en plus de 10 ans.</p>


    <h2 class="section-heading">2015 à 2018</h2>
    <p>Refonte sur Bootstrap 3.2. Responsive.</p>
    <p><img src="screen4.png" class="img-fluid img-thumbnail"></p>


    <h2 class="section-heading">2013 à 2015</h2>
    <p>Design fait maison. Volonté de quelque chose de "light" et responsive.</p>
    <p><img src="screen3.png" class="img-fluid img-thumbnail"></p>


    <h2 class="section-heading">2010 à 2012</h2>
    <p>Design fait maison. Orientation du site plus "blog"</p>
    <p><img src="screen2.png" class="img-fluid img-thumbnail"></p>


    <h2 class="section-heading">2004 à 2009</h2>
    <p>Design fait maison. Le site contenait un peu de tout, même quelques mini jeux JS/PHP.</p>
    <p><img src="screen1.png" class="img-fluid img-thumbnail"></p>


{% endblock %}
