{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>Plugin de cron affiché de manière lisible pour un utilisateur lambda.</p>

    <p>Il est assez populaire car j'ai eu pas mal de pull requests sur GitHub pour le traduire dans pas mal de langues
        comme : bulgare, allemand, portugais, russe, koréen, japonnais, ...</p>



    <h2 class="section-heading">Utilisation Php
        <small><em>(aperçu)</em></small>
    </h2>
    <p><img class="img-fluid" src="cron_php.png"/></p>


    <h2 class="section-heading">Exemples
        <small><em>(aperçus)</em></small>
    </h2>
    <p><img class="img-fluid" src="example1.png"/></p>
    <p><img class="img-fluid" src="example2.png"/></p>
    <p><img class="img-fluid" src="example3.png"/></p>
    <p><img class="img-fluid" src="example4.png"/></p>

{% endblock %}
