{% extends "@includes/base-post.html.twig" %}

{% block article %}


    <p>Il était une fois, je me suis passionné pour l'Ascii Art... </p>
    <p>Dans cette ferveur, je me suis amusé à développer deux petits outils en VB6 assez simples.</p>

    <h2 class="section-heading">Premier outil "CharTransform"</h2>
    <p><img src="screen1.png" class="img-fluid"/></p>

    <h2 class="section-heading">Deuxième outil "PictureTransform"</h2>
    <p><img src="screen2.png" class="img-fluid"/></p>

{% endblock %}
