<html>
<head>
    <title>jTaquin</title>
    <script type="text/javascript" src="jquery.js" ></script>
    <script type="text/javascript" src="jTaquin.js" ></script>
</head>
<body>

<div class="jTaquin"></div>


<script type="text/javascript">
    $(document).ready(function() {
        $('div.jTaquin').Taquin({
            image: 'Toucan.jpg',
            size: 4,
            width: 400
        });
    });
</script>
</body>
</html>