{% extends "@templates/base.twig" %}

{% block header_bg %}{{ asset('theme-blog/img/home-bg.jpg') }}{% endblock %}

{% block h1 %}Arnaud Buathier{% endblock %}

{% block subh1 %}Je suis tombé dans la marmite du développement ...{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Bienvenue dans mon antre de développeur.</p>
                <p>Je rassemble ici plus ou moins pèle-mêle certaines de mes productions informatiques que
                    je partage librement un peu à la manière d'une archive.
                    Vous accèderez au contenu grâce au menu en haut de cette page.</p>
            </div>
        </div>
    </div>

{% endblock %}
