{% extends "@templates/base-post.twig" %}

{% block article %}

    <p>
        J’ai lu <a href="https://editionsladecouverte.fr/catalogue/index-Le_fran__ais_est____nous__-9782348041877.html" target="_blank">« Le Français est à nous ! »</a>
        de Maria Candea et Laélia Véron. Cette lecture fut pour moi un mélange de
        confirmation de ressentis, de franche rigolade et de surprise, pour ne citer que quelques-unes de mes émotions.
    </p>
    <p>
        La lecture de ce livre, à l’aube de ma 4ème décennie, m’a amené à vouloir laisser une trace de réflexions et
        d’expériences personnelles. La prose va paraître centrée sur moi, mais je ne sais pas parler de mon expérience
        personnelle sans dire « je », bref, j’espère ne pas dire trop de conneries.
    </p>

    <h2 class="section-heading">Introduction</h2>

    <p>
        Mâle français et blanc … pile-poil la catégorie qui me vaudra peut-être quelques réactions désagréables,
        peu me chaut !
        Je sais que j’ai été favorisé à de multiples titres, et quoique je fasse ou dise, on pourra
        toujours m’opposer ces éléments sur lesquels je n’ai pas eu le choix.
    </p>
    <p>
        Je suis né au Togo en 1979, j’ai passé les premières 17 années de ma vie en Afrique : Togo, Madagascar, Sénégal,
        Côte-d’Ivoire avec des aller-retours en France pour les grandes vacances.

        J’aimais programmer, donc ne sachant pas vraiment ce que je voulais faire plus tard, j’ai fini ingénieur en informatique.

        J’ai des origines grosso modo savoyardes, j’ai fait mes études à Lille, puis bossé sur Paris, Lyon, Toulouse.
        En bref : j’ai peu d’attaches.
    </p>
    <p>
        Aujourd’hui, je suis marié et papa de 3 enfants dont un handicapé moteur, je le précise car c’est un élément
        important dans ma vie actuelle mais je ne m’étendrai pas ici sur la pléthore de dysfonctionnements du système
        que l’on vit avec cette situation familiale.
    </p>
    <p>
        Il est difficile de se définir et de se connaître.

        En l’absence de feedback, on est obligé de procéder par tâtonnements.
        Et c’est là que réside la première difficulté : le langage.
        J’essaie depuis toujours de mettre des mots sur des ressentis, des phrases sur des concepts, etc … et
        j’ai souvent l’impression de ne pas y arriver.

        Je vais essayer d’être clair dans la suite même si je sais que je balance tout ça un peu pêle-mêle.
    </p>


    <h2 class="section-heading">Enfance</h2>

    <p>
        Je lis depuis l’âge de 6 ans, je ne compte pas les milliers de livres lus.

        Je passais mes récréations à lire sur le perron de la bibliothèque.

        Mes parents brandissaient la privation de lecture pour prévenir d’éventuelles bêtises.

        La lecture est pour moi quasi essentiellement divertissement et évasion : romans de fantasy,
        science-fiction, policier, historique.
        34 ans après, j’ai encore plus besoin de lire, c’est un voyage qui m’emmène partout.
    </p>
    <p>
        Depuis tout le temps, je ne supporte pas d’apprendre, à contrario j’adore comprendre.

        A tel point que j’ai du mal à faire une chose que je ne comprends pas. J’étais aussi très rigide.
        Je pense être assez lucide sur ma naïveté passée, même s’il en subsiste quelques résidus.
    </p>
    <p>
        Je vais exposer quelques anecdotes qui pourront peut-être faire comprendre cela : en 6ème, mon professeur de
        sciences physiques demandait à chaque contrôle de faire une restitution du cours « par cœur » suivi d’exercices.
        J’étais un mauvais élève avec régulièrement des notes en dessous de 10 et je me croyais mauvais.
        Un jour le professeur nous a fait un contrôle ne contenant que des exercices : j’ai eu 20 et mes camarades
        étaient bouche-bée.
        Je n’ai jamais pensé à passer directement aux exercices et je bloquais sur la restitution.
        Durant les études en prépa, je me souviens de discussions après
        devoirs surveillés « je n’ai réussi à faire que la moitié » dis-je, un camarade « moi j’ai tout fait ».
        Restitution des notes : j’ai tout juste et nous avons sensiblement la même note.
    </p>
    <p>
        Le français à l’école c’était pour moi un ramassis de règles irrationnelles qui ne m’aidaient en rien à
        parler ou écrire.
        Avec la quantité de livres que j’ai avalé, je savais suffisamment parler et écrire pour avoir
        un peu plus que la moyenne en français.
        J’ai toujours fait le minimum vital à l’école, j’avais certes des facilités mais aussi des notes très
        disparates selon les matières et leur degré de « par cœur » à apprendre.
        Le chapitre 10 du livre de Maria Candea et Laélia Véron sur la grammaire scolaire m’a fait rire car très
        proche de mon vécu.
    </p>
    <p>
        La philosophie à l’école … omg … quelle désillusion.

        J’étais impatient d’échanger des idées, des réflexions, développer des raisonnements, et quand j’ai vu qu’on
        essayait de me bourrer le crâne des pensées des autres, sans débat, j’ai été extrêmement déçu.

        La première fois où j’ai voulu remettre en question une idée, je me suis
        fait envoyer paître d’une telle force que je me suis promis de ne pas recommencer.

        Apprendre bêtement par cœur ce que pensent les autres ne présente aucun intérêt pour moi si je ne peux
        pas les confronter ou en tirer une réflexion personnelle.
    </p>
    <p>
        J’avoue exercer un jeu depuis longtemps : l’observation.

        Je m’observe, j’observe les autres, je vois des détails, je note des choses, j’essaie d’en déduire d’autres.

        J’aime évoluer en faisant attention à un maximum de choses autour de moi.
        L’observation m’a permis plusieurs fois de remarquer que je venais d’utiliser une expression qui n’était pas la
        mienne mais celle d’un ami ou avoir subitement un accent qu’on n’a jamais entendu dans sa bouche.
        Cette magie du mimétisme est surprenante.

        Ayant pas mal bougé, j’ai eu l’occasion de changer d’accent de multiples fois.

        Et je confesse adorer l’accent du français ivoirien qui regorge en plus d’expressions imagées comme
        le « poulet bicyclette » ou qui utilise de manière très courante des mots rares en métropole comme « sapé ».
    </p>
    <p>
        Les chapitres 6 et 7 du livre sur la langue française, le colonialisme, la francophonie ont
        résonné profondément en moi.

        J’ai eu au lycée une professeure d’histoire géographie merveilleuse qui m’a éveillé à la langue
        française de l’étranger, j’étais en Côte d’Ivoire et je pratiquais depuis longtemps ces différences de langage
        avec la métropole sans m’en soucier.

        Là j’ai pris conscience des différences et richesses du français à l’étranger et j’ai découvert la
        sensibilité du français selon les régions : certains mots sont ressentis plus ou moins forts ou de
        sens différent selon les endroits où ils sont utilisés, ce qui peut mener à des situations embarrassantes.

        J’ai été estomaqué par la découverte dans le chapitre 6 l’origine du « petit nègre » que je n’ai jamais
        entendu en Afrique et pour lequel je ne voyais qu’une manifestation raciste et/ou ignare de certaines personnes.
    </p>


    <h2 class="section-heading">Etudes</h2>

    <p>
        Durant les études, j’ai fait le choix de passer une certification en « Analyse de la valeur » qui est une
        méthode qui vise à la satisfaction du besoin par une démarche spécifique de conception.

        Lors des cours, le professeur a insisté sur une chose qui m’a marqué : le « pourquoi » qui amène en
        réponse le « parce que » du « pour quoi » qui amène le « pour … ».

        On connaît très bien le « parce que » enfantin.

        Exemple « Pour quoi on utilise un cendrier ? » Oralement une personne risque de vous dire
        « Parce que la cigarette brûle » au lieu de « Pour empêcher d’abîmer la table » par exemple.

        Ce virage mental ouvre de nouvelles possibilités et permet d’éveiller à de nouvelles solutions.
        La langue française a peut-être d’autres formes de constructions comme le « pourquoi » qui empêchent
        la réflexion d’aller plus loin, je tente depuis autant que je le peux
        de remettre en question en permanence les structures pour sortir du moule que le langage impose.
    </p>
    <p>
        Curieux de nature, et un peu porté à la contradiction, j’ai fait 3ème langue italien au lycée,
        en plus de l’anglais et de l’allemand.

        Ma professeure était une petite femme d’une énergie incroyable, elle maîtrisait au moins le portugais
        (son origine maternelle), l’espagnol, l’italien et le français.

        Les cours étaient à 90 % à l’oral, on parlait, on débattait, etc … j’ai découvert le plaisir de la langue
        étrangère : l’anglais et l’allemand étaient pour moi des contraintes (le « par cœur » etc …).

        J’avais un meilleur niveau en 3 ans d’italien qu’en 7 ans d’allemand. Durant les études, cela m’a
        incité à tenter le japonais durant 2 ans (rōmaji uniquement).

        Apprendre les bases d’une langue permet de découvrir des mécanismes de pensée tout à fait enrichissants :
        comme la quasi absence de « futur » en japonais qui induit la difficulté à se projeter.

        Je me suis toujours demandé après coup s’il ne serait pas intéressant d’avoir à l’école un cours abrégé
        de plusieurs langues pour parler de leur culture à travers les bases de chaque langage,
        ça permettrait d’ouvrir les esprits à d’autres modes de fonctionnement.
    </p>


    <h2 class="section-heading">Le rôle de parent</h2>

    <p>
        Je me considère comme un guide : mon rôle est celui d’armer mes enfants à affronter le monde, aiguiser leur
        esprit critique, les encourager à se poser des questions, leur faire connaître et expérimenter un maximum de
        choses, dans la mesure de mes possibilités évidemment.
    </p>
    <p>
        Mes enfants font les frais assez régulièrement de mes « dad jokes ».
        Je chéris en mémoire deux anecdotes.
        La première, à table, à 4 ans, une de mes filles me tend une pomme en me disant « papa, tu me la pèles, s’il
        te plaît » et moi je prends la pomme, je la pose devant moi et je m’adresse à la pomme « pomme, viens !
        Allez viens ! » et ma fille qui se tait et qui finalement me dit quelques secondes après « non papa, tu peux
        enlever la peau ? ».
        J’étais fier d’elle car elle avait compris et trouvé une parade facilement.

        Une autre fois, en train de jouer au son des animaux avec mon autre fille qui avait 3 ans « quel est le bruit
        du chat ? » et elle « miaou » etc … et je finis avec une colle « quel est le bruit du dindon ? » et elle bloque,
        fronce les sourcils, je sentais le cerveau en train de tourner … et elle s’exclame « frère Jacques ! ».
        Là c’est moi qui ait bloqué quelques secondes avant de penser à la comptine afférente et sa fin « ding ding dong ».

        Évidemment, j’ai explosé de rire, mais j’ai vu qu’elle avait vraiment tenté de trouver quelque chose,
        son esprit a juste dévié du thème initial pour produire une solution. La langue est merveilleuse, le français
        est farci de possibilités de jeux basés dessus et je trouve dans ces calembours et autres jeux de mots matière
        à faire réfléchir comme le classique « s’il te plaît » où j’ai parfois répondu « non, ça me plaît pas ».

        Le langage doit être un jeu amusant pour les enfants et les grands.
    </p>
    <p>
        Avec mon épouse, nous avons réussi à transmettre à nos trois enfants le virus de la lecture, à tel point que
        nous devons aussi les menacer de les priver de lecture parfois.

        Tout le monde à la maison est équipé d’une liseuse, pour plein de raisons pratiques, et surtout pour mon
        fils handicapé moteur pour qui la lecture en livre classique est une vraie épreuve.

        Le domaine de l’accès à la lecture et à la langue dans le domaine du handicap est un sujet très vaste.

        Malgré les liseuses, les enfants sont inscrits à la médiathèque et adorent emprunter des livres.
    </p>


    <h2 class="section-heading">Professionnellement</h2>

    <p>
        Avec du recul, j’aurais peut-être choisi autre chose, non pas parce que le métier me pose problème,
        mais plutôt la localisation géographique induite qui est trop urbaine pour moi.

        En fait j’aurais pu choisir un autre métier, et même aujourd’hui je ne sais pas trop expliquer pourquoi
        je bosse dans l’informatique à part le fait que ça me permet d’exercer un travail d’esprit que j’aime.

        Il y a d’autres métiers dans lesquel j’aurais pu assouvir ce besoin intellectuel.

        Je me heurte depuis des années à la difficulté d’exprimer le mal-être que je peux ressentir au travail.
        J’essaie de conceptualiser, de raisonner, de trouver les causes de ces émotions : j’échoue à me faire comprendre.
        Je vis réellement comme un échec l’incapacité à faire percevoir à ma hiérarchie ce qui trotte dans ma tête et
        ce qui me définit, et pourquoi ça peut avoir une relation avec mon sentiment de mal-être.

        Je pense avoir un problème : je ne suis pas normal au sens éthymologique du terme normal, mes attentes que
        j’ai des autres en terme de raisonnement et « bon sens » de sont pas en phase avec le réel.

        Au final, en général je change d’entreprise, cela va faire 10 fois que je change en 16 ans.
    </p>
    <p>
        Depuis l’âge de 6 ans, je cause avec les machines informatique à travers la programmation,
        je leur fais faire des choses en écrivant du code informatique.

        Pour faire simple : le langage de la machine est un peu trop compliqué, donc on utilise un langage
        intermédiaire qui est ensuite transformé en langage machine.

        Ce langage intermédiaire est de plus ou moins « haut niveau » selon sa grammaire et sa syntaxe … oui on
        parle de grammaire et de syntaxe en langage informatique.

        Chaque langage informatique présente un ou plusieurs paradigmes : programmation structurée, procédurale,
        orientée objet, déclarative fonctionnelle, logique, évènementielle, séquentielle, concurrente, orientée
        aspect, etc …

        Selon le paradigme, la pensée humaine doit s’articuler pour exprimer ce que l’on cherche à faire faire.
        C’est une gymnastique mentale que je trouve intéressante.
    </p>
    <p>
        Je ne sais plus la formulation exacte, ni qui l’a dite mais « tous les développeurs savent faire un code que
        la machine comprend, mais seul les bons savent faire un code que les autres développeurs comprennent ».
        Cette vérité pour tout développeur un tant soit peu confirmé dépend également du langage utilisé et
        de sa bonne utilisation pour un besoin donné.

        Cela va faire des années que j’essaie de faire comprendre aux personnes qui m’entourent que programmer,
        c’est une philosophie qui dépend des paradigmes, qu’il n’y a pas de manière absolue de résoudre un problème :
        il faut parler le langage adapté à chaque situation rencontrée.

        Soyons clair, in fine, le langage machine obtenu sera le même selon le processeur sur lequel il tournera.

        Mais l’humain a besoin d’exprimer son besoin différemment selon le problème à adresser, de la même manière
        qu’un humain peut adapter son langage selon qu’il parle à un étranger (il va articuler mieux et ralentir le
        débit) ou à un enfant (en évitant des concepts abstraits inaccessibles ou des mots trop subtils), etc …

        Mais je vois dans l’utilisation des langages informatiques des dérives analogues aux langages humains :
        une forme d’extrémisme imbécile qui empêche une bonne fluidité de la communication quand les gens
        s’enferment dans le dogmatisme.
    </p>
    <p>
        De la même manière que le langage humain, on a tendance en école informatique à ne faire apprendre que les
        paradigmes les plus « communs » et on se retrouve avec des gens qui ne savent pas utiliser des langages
        très différents porteurs d’autres paradigmes.

        Ces personnes vont utiliser en entreprise des solutions qu’ils connaissent et/ou se voir faire imposer par
        des décideurs des contraintes empêchant d’aller vers les solutions les meilleures.

        Attention, une solution à un problème n’est valide que dans un laps de temps plus ou moins grand :
        le problème ou des facteurs extérieurs peuvent changer et il faut adapter dans ce cas la nouvelle solution.

        Trop de logiciels développés sont réalisés avec l’idée fausse de la solution éternelle et les entreprises
        ne mettent pas en place les outils permettant de s’adapter vite à des changements d’écosystème.

        On voit fleurir les termes de « dette technique » ou de code « legacy » à tout bout de champ comme une
        fatalité qu’on cherche à éradiquer.

        A ce titre je ne peux m’empêcher de faire un parallèle avec le livre « Le Français est à nous ! » qui évoque
        la stagnation du langage et le dogmatisme stupide qui suppose une langue figée.
    </p>
    <p>
        En pensant système informatique, les gens imaginent des systèmes rigides, avec plus ou moins de « bugs »
        qui apparaissent comme par magie.

        Alors oui certains « bugs » sont tellement complexes qu’il étaient presque impossible de les prévoir,
        et certains sont juste dus à de la bêtise humaine, volontaire ou non.

        Un système informatique fonctionne sur des machines fabriquées par l’homme dans des matériaux tout ce qu’il
        y a de plus concrets : ils ne sont pas éternels, ils sont faillibles, et je peux même affirmer qu’il
        failliront, quoiqu’on mette en place.

        La vraie réflexion des développeurs et architectes informatiques devraient porter sur la résilience des
        applications et matériels et la gestion rationnelle du risque : si tel crash de système n’a aucun impact,
        pourquoi gaspiller des ressources à empêcher des crashs.

        A contrario, si tel système est critique, il faut mettre les moyens adéquats. Le problème dans les entreprises
        dans lesquelles je suis passé c’est l’absence de communication humaine mettant clairement noir sur blanc
        les objectifs / besoins des systèmes pour adapter les meilleures solutions en face.

        Parfois, en tentant d’expliquer ce que je devine comme problématique dans certaines approches du web et/ou
        des technologies utilisées, je me heurte à des boucliers : dès qu’on touche au confort mental de quelqu’un
        en remuant ce qu’il pense pour acquis, l’émotion et l’instinct de protection s’enclenchent,
        la partie « raisonnable » de son cerveau se met alors hors de portée. C’est épuisant et je vis comme un échec
        le fait de ne pas savoir trouver des mots capables de briser ces carapaces.
    </p>
    <p>
        Au début de mon expérience professionnelle, j’étais dans une très grande entreprise parisienne familiale
        à la politique parfois douteuse et j’ai eu l’occasion de découvrir certaines curiosités du langage.

        J’ai toujours adapté mon langage à la situation et quand j’étais contrarié, j’utilisais facilement
        des gros mots « merde », « fait chier ».
        Je me suis vu reprendre plusieurs fois par mes collègues parce que j’utilisais un langage trop châtié …
        Je trouvais un peu exagéré ces remarques car chez moi, le niveau de langage et les termes utilisés sont
        utilisés vraiment précisément en fonction de ce que je veux faire ressentir (factuellement, j’essaie,
        peut-être suis-je mauvais).

        J’ai toujours tenté d’utiliser un langage le plus adéquat, qui essaie de laisser le moins d’ambiguïtés
        sur ma pensée : j’essaie de me relire au maximum, de trouver le mot juste, …

        Si je dis « c’est de la merde ! » c’est que je le pense vraiment ou que je veux provoquer une réaction
        pour attirer l’attention de mon auditeur.
        Cette supposée bienséance langagière forcée à tendance à m’irriter, je suis le premier à comprendre
        qu’il faut s’adapter à ses interlocuteurs : je vais modérer mon langage avec des enfants ou en entretien
        d’embauche, mais avec des gens qu’on côtoie depuis des mois voire des années, on peut mettre un peu
        du sien pour faire des compromis à partir du moment où l’on ne blesse personne.

        Les contraintes qu’on peut appliquer sur le langage doivent être rationnelles et explicables, sinon je
        ne vois pas pourquoi on se priverait de certains mots de la langue.
    </p>
    <p>
        Durant cette même expérience dans cette entreprise, j’ai eu l’occasion de participer à une remise de prix
        prestigieux à Paris pas loin de la Tour Eiffel.
        J’y ai croisé du monde où il y avait quelques personnalités importantes et/ou politiques en lien avec l’entreprise.

        Cette expérience fût horrible : je ne maîtrisais pas les codes sociaux de ce milieu et malgré ma tenue et
        mon langage que je croyais contrôlé, clairement ce n’était pas suffisant, on m’a snobé, ignoré,
        évité de me serrer la main, je me suis senti rabaissé par ces attitudes.

        Je ne sais absolument pas ce qui a pu causer ces attitudes, alors je comprends totalement le problème
        que peut poser l’utilisation du langage comme outil de pouvoir et de violence, à mon niveau,
        j’essaie depuis lors de faire attention.
    </p>
    <p>
        J’ai un esprit très rationnel et pragmatique.
        Cela n’empêche pas les sentiments, mais je sais les mettre de coté pour analyser une situation.
        De nos jours, pour moi, les gens sont beaucoup trop guidés par leurs émotions, leurs à priori, etc …
        et ça me semble un plus gros problème dans un domaine technique comme l’informatique.

        On manque de rationnel, de savoir mettre de coté ses émotions (répulsion, attirance, joie, colère, …)
        pour aborder et communiquer avec les autres.

        Ça nécessite une forme de self-control, de discipline qui à mon goût est trop absente, et qui permettrait
        d’éviter beaucoup de problèmes de communication en entreprise.
    </p>
    <p>
        Un point que je n’ai pas vu dans le livre, ce qui est peut-être normal car je suis incompétent dans
        le domaine, mais sur lequel je me pose des questions, c’est le rôle culturel (et/ou social ?),
        de la fréquence de la voix.

        J’ai naturellement une voix assez grave et une apparence assez « jeune » : j’ai eu par le passé en
        entreprise des interlocuteurs surpris de me rencontrer en réel après m’avoir entendu plusieurs
        fois au téléphone.

        Le rôle de la voix « grave » ou « aïgue », à l’instar du physique, est porteuse d’une forme d’autorité
        qui change le rapport à l’autre.

        J’ai découvert avec stupeur un peu par hasard quand mon fils avait 6 ans qu’il croyait que dès que
        j’avais un ton un peu direct que je le grondais à cause de ma voix grave : à partir du moment où on
        lui a expliqué les choses, comme quoi non, papa ne grondait pas tout le temps, que c’était ma voix
        qui était comme ça, il est devenu beaucoup plus détendu.
        Avec mon épouse, on voyait bien qu’il y avait un problème relationnel entre moi et mon fils, mais
        on n’arrivait absolument par à mettre le doigt dessus : j’ai pris cette révélation comme une claque.

        Cette différence d’autorité ressentie sur la fréquence de la voix, je ne sais pas s’il faut la mettre
        en relation avec le déséquilibre d’autorité homme/femme en entreprise.
        Là je suis dans la spéculation totale, mais ça m’interroge.
    </p>



    <h2 class="section-heading">Jeu en ligne et internet</h2>

    <p>
        Je suis aussi un « gamer » : si 17000 heures de jeu en 15 ans ça ne vous parle pas, cela fait autour de 3h/jour.

        Je joue en ligne, avec des gens de divers horizons et de tout âge, cela me permet de jouer avec des personnes
        parfois d’une génération plus jeune.

        Donc pour se parler nous utilisons le même langage, les mêmes raccourcis, acronymes, etc …
        Je découvre des expressions nouvelles, et à 40 ans derrière ma connexion internet, je parle
        (presque parfois) le même langage que certains jeunes, ça permet de comprendre ces nouvelles
        générations, ce qu’elles vivent, etc …

        Nous partageons de bons moments, ou pas, c’est l’humain.
        Et je suis moi-même un utilisateur de ces raccourcis fort pratiques, des ces anglicismes, arabicismes, etc …
        ils ont du sens et permettent la communication : c’est tout ce que je veux car ils me permettent
        de m’enrichir au contact des autres.
    </p>
    <p>
        Je joue avec des personnes de divers milieux : ingénieurs, ouvriers, gendarmes, instituteurs, artisans,
        étudiants, homme, femme, autre, … je m’en fiche.
        Alors oui, il y a aussi les trolls, intolérants, racistes, dogmatiques, violents, etc …
        comme dans la société humaine en fait.

        Tout ces outils dématérialisés, numériques, qu’ils soient jeux, réseaux sociaux, impliquent la
        communication et je les trouve géniaux car tout le monde peut s’exprimer, certaines barrières peuvent tomber.

        J’ai fait des rencontres IRL (comprendre « in real life ») avec d’autres gamers rencontrés sur le web,
        on a passé de bons moments : des amis de jeu venant en cosplay à notre mariage et étonnant le reste
        de la famille, etc …

        Cessons de diaboliser « par défaut » internet et les réseaux sociaux : j’ai totalement abandonné les
        médias classiques depuis des années pour me faire ma propre liste de veille d’information à travers
        twitter, les flux rss, etc…

        Les médias classiques (TV et presse papier entre autres) donnent une vue du passé et je ne peux plus
        supporter leur langage normalisé, imprécis et étriqué.

        Sans parler des journalistes racontant des conneries à tour de bras, exemple : ils confondent
        régulièrement corrélation et causalité dans les données qu’il mettent en avant.
    </p>
    <p>
        Internet permet une communication plurielle, et avec un peu d’esprit critique, de se forger une image
        d’une situation : on recoupe, on se documente, on peut interroger des experts, etc.

        Mais il y a un danger que chacun doit s’efforcer d’éviter : éviter l’entre-soi en se cantonnant à
        ses idées déjà faites, car on peut renforcer son opinion à l’excès (exemple j’aime les cerises,
        je ne « follow » que des gens qui aiment les cerises, et je vais ainsi m’empêcher de découvrir peut-être un
        fruit meilleur, jusqu’à taxer tous les autres d’ignares qui ne savent pas que les cerises sont les meilleures).

        Quand je joue sur internet, je parle au monde entier, bon objectivement, si mon interlocuteur ne comprend
        pas le français ni l’anglais, je suis mal barré.

        Mais je peux jouer/parler avec des francophones et anglophones du monde entier, ça fait pas mal de monde …
        et ça passe par le langage.

        Les jeunes sont presque plus rôdés que moi et c’est eux qui vont fabriquer demain : le
        langage et la communication n’ont jamais été aussi importants.
    </p>



    <h2 class="section-heading">Conclusion</h2>

    <p>
        Maria Candea et Laélia Véron auront réussi le tour de force de me faire sortir de ma caverne et de me donner
        envie d’exprimer publiquement des choses très personnelles.

        Je ne sais pas expliquer ma réaction de vouloir m’exprimer, moi qui suis très rationnel, je m’incline devant
        une forme d’irrationnel.
        Peut-être ai-je ressenti ce besoin car la fin de la lecture du livre m’a plongé dans un long
        moment de réminiscences de détails de mon histoire en résonance avec le livre ?

        Je ne sais pas, mais en fait on s’en fiche, peut-être n’est-ce qu’un ramassis d’inepties complètement à coté
        de la plaque ? Ou alors je suis pris d’un délire égotique ? C’est à vous de juger.
    </p>
    <p>
        J’ai essayé de ne pas trop dévier du thème du langage, je me rends compte qu’il y aurait des quantités de
        choses à écrire sur certains sujets, mais je suis incompétent pour approfondir certaines de ces idées.
        Je viens déjà de coucher par écrit le plus long texte non technique depuis au moins 20 ans et je n’ai aucune
        expérience de la forme et style d’écriture à adopter pour être lisible et compréhensible.
    </p>
    <p>
        J’avais comme objectif de fournir des exemples personnels que je trouvais en résonance avec ce livre éclairant,
        et si possible d’ouvrir en toute humilité quelques voies de réflexion à ceux qui m’auront lu jusque là.
    </p>
    <p>
        Lisez « Le Français est à nous ! », emparez-vous des mots et faites-les vivre !
    </p>


    <h2 class="section-heading">Liens</h2>

    <p>
        <a class="btn btn-primary" href="https://twitter.com/marcandea" role="button">
            <i class="fa fa-twitter"></i>Maria Candea
        </a>
        <a class="btn btn-primary" href="https://twitter.com/Laelia_Ve" role="button">
            <i class="fa fa-twitter"></i>Laélia Véron
        </a>
    </p>
    <p>
        <img src="livre.jpg" class="img-fluid img-thumbnail">
    </p>


{% endblock %}
