{% extends "@templates/base-post.twig" %}

{% block article %}

    <p>Pour certains besoin de renommage de fichiers en lot, j'avais besoin des expressions régulières.</p>

    <p>Assez souvent quand j'avais besoin d'un outil que je ne trouvais pas en open source/freeware, j'ai fini par me le coder.</p>

    <h2 class="section-heading">Aperçu du programme</h2>

    <img class="img-fluid" src="screen.png" alt="">

{% endblock %}
