{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>Et Hop ! Voilà une vieille oeuvre mais bien sympa réalisée au début 2009 avec jQuery : un date picker
        customizable.</p>
    <p>Aujourd'hui, je préfère utiliser jQuery UI pour faciliter l'intégration graphique et gagner du temps sur la
        maintenance de code. Mais je garde mon vieux plugin sous le coude au cas où le besoin se ferait sentir ;)</p>

    <h2 class="section-heading">Aperçu</h2>
    <p><img class="img-fluid" src="screen.png"/></p>

{% endblock %}
