{% extends "@templates/base-post.twig" %}

{% block article %}

    <p>A 10/11 ans, sur un ordinateur, on pense pas mal à jouer... pour me "faciliter" la vie, j'avais programmé un
        lanceur pour mes jeux
        en utilisant <em>AX-Batch</em>, un produit de la société <a href="http://www.axialis.fr/">Axialis</a>.</p>
    <p>J'ai fouiné un peu sur le web pour tenter de retrouver des traces de ce soft, mais elles sont très
        faibles... </p>
    <p>Pour vous décrire le "schmilblick", en fait je codais des fichiers BAT plus ou moins structurés d'une certaine
        manière avec
        des <code>IF ERROR LEVEL 3 GOTO jeu1</code>. En lancant ces fichiers qui utilisaient AX-Batch, j'avais un menu
        graphique sous
        DOS qui me permettait de choisir mes jeux et de les lancer sans taper de commandes...</p>
    <p>Ca ne servait qu'à faire joli, donc pas à grand chose, mais je sais que j'y ai passé des heures à l'époque.</p>

    <h2 class="section-heading">Jeux</h2>
    <div>
        <img src="cdrom.jpg" class="float-md-right img-fluid img-thumbnail"/>
        <p>A cette époque, mon père était abonné à une revue qui envoyait des CDs de sharewares.</p>
        <p>Je copiais des tas de jeux en local pour les tester, y jouais etc...</p>
        <p>J'ai donc le privilège d'avoir manipulé un des premiers lecteurs CD de l'histoire de l'informatique.
            Il s'agissait d'un modèle un peu comme l'image ci-contre : le CD était mis manuellement entre deux pinces
            plastiques,
            le tout glissé dans une boîte plastique spéciale ; et enfin on insérait le tout dans le lecteur, un système
            de pression
            à ressort faisait ressortir le boitier sans la pince et le CD. En résumé, on utilisait un système de boîtier
            charriot pour insérer le CD.
            Il n'y avait pas comme actuellement un plateau qui entrait et sortait, c'est comme si c'est vous qui faisiez
            entrer et sortir le plateau avec le CD fixé dedans.</p>
        <p>Autant dire qu'il ne fallait pas être pressé pour mettre son CD...</p>
        <p>L'image ci-contre est celle d'un lecteur CD Apple, nous avions un PC et pas donc pas ce modèle, mais c'est la
            même idée.</p>
    </div>
    <div>
        <img src="jeu-poc.png" class="float-md-right img-fluid img-thumbnail"/>
        <img src="jeu-w3d.png" class="float-md-right img-fluid img-thumbnail"/>
        <p>Le genre de jeux dont je me souviens le nom et auxquels j'ai joué : Wolfenstein 3D, Dune, Dune II, Stunts car
            racer, Ports of calls...</p>
    </div>

    <h2 class="section-heading">CAO/DAO</h2>
    <div>
        <img src="animator.png" class="float-md-right img-fluid img-thumbnail"/>
        <p>Mon père bossait à l'époque sur des produits <a href="http://www.autodesk.fr/">AutoDesk</a> et j'ai donc pu
            bénéficier de son savoir
            pour jouer sur AutoCAD version 9 qui fonctionnait sous MS-DOS.</p>
        <p>J'ai même eu le loisir de manipuler <em>Animator</em> qui est l'ancêtre de ce qui deviendra le fameux 3D
            Studio Max... (cf. image ci-contre)</p>
        <p>Pour certains cours de dessin, ou d'EMT (Education Manuelle et Technologique, cherchez pas, ca n'existe plus)
            pour lesquels on
            devait rendre des devoirs, je les réalisais sous AutoCAD et les traçais grâce à la table traçante de mon
            père (à l'époque,
            les gros traceurs mono axe n'existaient pas pour le commun des mortels, il fallait utiliser des tables
            traçantes 2 axes : vous
            aviez un bras avec une pince qui venait attraper des feutres spéciaux et ce bras traçait votre dessin à
            votre place).
            Je pouvais rester des minutes entières pour regarder la table tracer mon dessin, c'était un peu comme de la
            magie,
            les méandres informatiques qui pouvaient bien faire que la table traçait ce trait avant tel autre etc...
            c'était un émerveillement pour le gosse que j'étais.</p>
        <p>Je me souviens d'un crochet de grue mécanique sous AutoCAD que mon père avait voulu tracer sur la table
            traçante
            (je ne sais plus si c'est lui qui l'avait réalisé ce crochet). Ce crochet était représenté en 3D sous forme
            filaire,
            pour le tracer, il fallait lui retirer les parties cachées : c'est à dire les "fils" représentant les
            parties de derrière
            doivent être retirées pour que ce soit plus "joli". Bref, le calcul des traits cachés à retirer avait pris
            2h sur l'ordinateur...
            aujourd'hui, les représentations 3D ne sont plus filaires : trop basique... et les cartes graphiques
            actuelles sont des millions
            de fois plus puissantes... c'était une drôle d'époque.</p>
        <p>Tenez, je vais vous parler des caractéristiques d'un ordinateur portable que mon père avait acheté à cette
            période
            (ça lui avait aussi coûté les yeux de la tête) : 386&nbsp;DX2, 2&nbsp;Mo de RAM (si ma mémoire est bonne),
            80&nbsp;Mo de disque dur,
            monochrome, plus de 7kg (avec une poignée métallique intégrée dans une glissière pour le transporter)...</p>
    </div>


{% endblock %}
