{% extends "@templates/base-post.twig" %}

{% block article %}

    <p>Je suis un joueur Guild Wars depuis 2005, et j'ai codé cet outil pour pouvoir être intégré dans un forum sans
        aucun effort et permettre d'ajouter un afficheur de builds sympas.</p>

    <h2 class="section-heading">Aperçu</h2>
    <p><img class="img-fluid" src="screen.png"/></p>

{% endblock %}
