{% extends "@templates/base-post.twig" %}

{% block article %}

    <div>
        <img src="to7-70.jpg" class="float-md-right img-fluid img-thumbnail"/>
        <p>J'ai réalisé mes premiers pas en informatique à l'âge de 6 ans sur le <a
                    href="http://fr.wikipedia.org/wiki/Thomson_TO7/70">Thomson TO7/70</a> de mon père.</p>
        <p>Nous habitions à cet époque à Madagascar et importer ce matériel là-bas fût assez difficile pour mon
            père.</p>
        <p>Je réalisais des programmes liés à mon âge : je faisais du dessin avec les fonctions de rectangle
            etc... en <a href="http://fr.wikipedia.org/wiki/Langage_BASIC">BASIC</a>.</p>
        <p>Je maintenais à cette époque (idée de mon père) un petit calepin dans lequel je notais les instructions qu'il
            m'avait apprises...
            Ce calepin s'est perdu entre les déménagements. Aujourd'hui, si je l'avais, ce serait mon bien le plus
            précieux :D (on est geek ou pas).</p>
    </div>

    <div>
        <img src="screen.png" class="float-md-right img-fluid img-thumbnail"/>
        <p>Je n'ai aucun code à vous faire partager... mais je peux vous représenter le genre de dessins que je faisais,
            et dont j'ai gardé le souvenir, à droite de ce texte.</p>
        <p>Pour un gamin de 6 ans, vous conviendrez que c'était pas trop mal, non ? :D</p>
    </div>

    <div>
        <img src="jeu-fox.png" class="float-md-right img-fluid img-thumbnail"/>
        <p>Bon, avouons-le, je n'ai pas fait que programmer, j'ai aussi joué à des jeux comme Fox (image
            ci-contre)...</p>
    </div>

{% endblock %}
