<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/php/">PHP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/js/">JS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/csharp/">C#</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/delphi/">Delphi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/divers/">Divers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
</ul>