{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>Encore une récidive de générateur de texte en ASCII Art basé sur les polices
        <a href="http://www.figlet.org/">Figlet</a> 4 ans après ma première version en VB.</p>

    <h2 class="section-heading">Aperçu</h2>

    <img class="img-fluid" src="screen.png" alt="">

{% endblock %}
