{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>Avant que tout ça ne se démocratise et soit devenu conventionnel, je m'intéressais déjà beaucoup aux performaces
        dans le web et la compression de JS en faisait partie des bonnes pratiques.</p>

    <p>Pour faciliter mes dev, je m'étais fait un petit outil GUI de compression qui se basait sur un projet opensource
        javascript de compression.</p>

    <h2 class="section-heading">Aperçu du programme</h2>

    <img class="img-fluid" src="screen.png" alt="">

{% endblock %}
