{% extends "@includes/base-post.html.twig" %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <p>Pour me faciliter la vie, j'avais développé un petit tester d'expressions régulières en
                        Pascal/Delphi.</p>

                    <p>Ca vaut ce que ca vaut, mais ca suffisait à mes besoins à l'époque... :D</p>

                    <h2 class="section-heading">Aperçu du programme</h2>

                    <img class="img-fluid" src="screen.png" alt="">

                    <h2 class="section-heading">Téléchargement</h2>

                    <p>Vous pouvez télécharger le binaire, ses sources et le nsi qui m'a servi à faire l'installeur.</p>

                    <p>
                        <a class="btn btn-primary" href="RegExpTester.zip" role="button">
                            <i class="fa fa-download"></i>RegExpTester.zip
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </article>

{% endblock %}
