{% extends "@includes/base-post.html.twig" %}

{% block article %}

    <p>Pour me faciliter la vie, j'avais développé un petit tester d'expressions régulières en
        Pascal/Delphi.</p>

    <p>Ca vaut ce que ca vaut, mais ca suffisait à mes besoins à l'époque... :D</p>

    <h2 class="section-heading">Aperçu du programme</h2>

    <img class="img-fluid" src="screen.png" alt="">

{% endblock %}
