{% extends "@templates/base-post.twig" %}

{% block article %}

    <p>Quand je m'implique dans quelque chose, en général ce n'est pas à moitié.</p>

    <p>dans Guildwars je fais pas mal de raids à plutôt haut niveau. Je faisais des full clear sur plusieurs comptes par semaine etc ...</p>

    <p>Quand on recherche la performance, on a besoin d'indicateurs, pour cela j'utilise un dps meter et plusieurs analyseurs de logs.</p>

    <p>Le process d'upload et de gestion devenait fastidieuse donc je me suis fait un outil d'upload automatique via script <code>perl</code>
        en local sur ma machine qui envoyait directement dans mon webservice en ligne qui uploadait en rebond de manière asynchrone sur des outils
        externe.</p>

    <p>En dehors de l'asect automatisation, j'ai rajouté un couplage avec l'API du jeu pour tracker l'avancement des différents comptes personnels et
        ceux qui le voulaient de ma guilde.</p>

    <p>Au final en 1 clic en fin de raid je lancais tout le process et les fichiers étaient à disposition de la guilde au bout de quelques minutes.</p>

    <p>Techniquement c'est un projet un peu mode arrache en from scratch, mais ca fait le taf.</p>

    <h2 class="section-heading">Quelques aperçus</h2>

    <p><img class="img-fluid" src="image1.png"/></p>
    <p><img class="img-fluid" src="image2.png"/></p>


{% endblock %}
