{% extends "@templates/base-post.twig" %}

{% block article %}

    <p>Pendant longtemps, j'envoyais des mails texte via PHP. Mais un jour je me suis dit qu'il fallait que je passe à
        l'HTML pour m'autoriser plus de souplesse dans mes envois de mail.</p>
    <p>A l'époque j'ai trouvé sur le web peu de classes d'envoi de mail qui soient simples et efficaces.<p>
    <p>N'étant pas satisfait car elles ne comportaient pas de système de détection d'injection, j'ai décidé (aussi par
        curiosité) de me plonger dans les RFC et de faire ma propre classe. Je vous la livre, peut être vous cela-elle
        utile.</p>



    <h2 class="section-heading">Fonctionnalités</h2>
    <ul>
        <li>Envoi de mail HTML respectueux des standards (testé sous Windows Live Mail, Outlook, Thunderbird, Gmail sans
            aucun souci).
        </li>
        <li>Pièces jointes</li>
        <li>Images inline (détection automatique des IMG)</li>
    </ul>



    <h2 class="section-heading">Exemple</h2>
    <p>Pour le détail, je vous laisse jeter un oeil à la classe elle même. Pour insérer des images inline, mettez
        simplement des &lt;img&gt; avec des liens relatifs vers l'image à insérer : la classe va automatiquement
        l'insérer inline.</p>
    <pre><code class="php">$mail = new mime_mail();
$mail->to('john.smith@gmail.com', 'John Smith');
$mail->from('admin@domain.com');
$mail->subject('test email');
$mail->add_attachment('fichier.pdf');
$mail->body_html('&lt;p&gt;Hello World !&lt;/p&gt;');
if($mail->send()) {
	echo 'mail envoyé';
}
else {
	echo $mail->error;
}
	</code></pre>



    <h2 class="section-heading">La classe</h2>
    <p>Elle utilise si vous le souhaitez, la classe <b>html2text</b> de Jon Abernathy. Si cette classe n'est pas
        présente, la mienne ne plante pas, j'ai un <code>if(class_exists(...</code> ;)<br/>Dans le cas où vous la
        voudriez, elle est téléchargeable sur cette page.</p>

    <pre><code>{{ source('php/mime-mail/mime_mail.php')|escape }}</code></pre>

{% endblock %}
